body {
    background-color: #181818;
    color: #f1f1f1;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #333;
    margin: 0;
    overflow: hidden;
}

nav li {
    display: inline;
}

nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ddd;
    color: black;
}

section {
    width: 300px;
    margin: 50px auto;
    background-color: #282828;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input[type='text'],
input[type='password'],
input[type='number'] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#minecraft-container {
    display: none; /* Masqué par défaut, affiché après connexion */
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}

#categories-container h2 {
    color: #f1f1f1;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

#categories-container ul {
    list-style-type: none;
    padding: 0;
}

#categories-container li {
    background-color: #333;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 5px;
}

.object-value {
    width: 80px;
    margin-left: 10px;
}

.notification {
    display: none; /* Masqué par défaut, affiché après action */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Ajoutez des animations ou transitions supplémentaires ici si nécessaire */
