/* Réinitialisation et styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #2d2f34; /* Fond plus neutre */
    color: #ffffff;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Styles du menu latéral */
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    z-index: 2;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    display: block;
    padding: 15px;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #444;
}

/* Conteneur principal pour les éléments de connexion */
.content {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Titre de connexion */
h2 {
    font-size: 24px; /* Taille de police pour le titre */
    color: #ddd; /* Couleur plus douce pour le titre */
    margin-bottom: 20px;
}

/* Champs de saisie et bouton de connexion */
input[type='text'], input[type='password'], button {
    width: 100%;
    max-width: 300px; /* Ajustement de la largeur */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #aaa; /* Bordure plus subtile */
}

/* Bouton de connexion */
button {
    background-color: #9500f8; /* Vert pour le bouton */
    color: #fff;
    font-size: 16px;
    border: none;
}

button:hover {
    background-color: #45a049; /* Un vert légèrement plus foncé au survol */
}

/* Liens sous le bouton */
.link, .forgot-pw {
    color: #ddd; /* Couleur plus douce pour les liens */
    font-size: 14px; /* Taille de police réduite pour les liens */
    margin-top: 15px; /* Espace au-dessus des liens */
    margin-bottom: 0; /* Pas d'espace en dessous des liens */
    text-decoration: none; /* Pas de soulignement */
}

.link:hover, .forgot-pw:hover {
    text-decoration: underline; /* Soulignement au survol */
}
